@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

.button-animation:hover div,
.button-animation:focus-within div {
  transform: translate(-4px, -4px);
  transition: 0.14s ease-out;
  box-shadow: 4px 4px 0px #000;
}

.button-animation div,
.button-animation:active div,
.button-animation:disabled div {
  transform: translate(0, 0);
  transition: 0.14s ease-out;
  box-shadow: none;
}

.notOnView {
  opacity: 0;
  filter: blur(1px);
  transition: all 0.5s;
}

.onView {
  opacity: 1;
  filter: blur(0);
  transition: all 0.5s;
}
